.menu-nav {
  position: absolute;
  width: 100%;
  z-index: 3;

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    position: fixed;
    padding: 3px;
    width: 100%;

    .navbar-nav {
      & li {
        & a {
          text-transform: capitalize;
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }

  .navbar-brand {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 0;
    color: #fff;
  }

  .navbar-nav {
    float: right;
  }
}

.menu-nav-white {
  box-shadow: rgba(0,0,0,.15) 0 6px 13px;
  border-radius: 0;

  .navbar-logo-brand {
    color: rgba(0,0,0,.68);
  }

  .navbar-nav {
    & > li {
      & > a {
        color: rgba(0,0,0,.68) !important;
      }
    }
  }
}