// @import 'antd/dist/antd.css';

@font-face {
  font-family: 'emoji';
  src:  url('./fonts/emoji.eot?f3ljrc');
  src:  url('./fonts/emoji.eot?f3ljrc#iefix') format('embedded-opentype'),
    url('./fonts/emoji.ttf?f3ljrc') format('truetype'),
    url('./fonts/emoji.woff?f3ljrc') format('woff'),
    url('./fonts/emoji.svg?f3ljrc#emoji') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'emoji' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a:before {
  content: "\e900";
}
.icon-b:before {
  content: "\e901";
}
.icon-c:before {
  content: "\e902";
}
.icon-d:before {
  content: "\e903";
}
.icon-empty:before {
  content: "\e904";
}
.icon-o:before {
  content: "\e905";
}
.icon-q:before {
  content: "\e906";
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight:400;
  color:#000;
  padding:0;
  margin:0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: inherit;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &:before {
    display: table;
    content: " ";
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &:before {
    display: table;
    content: " ";
  }

  & > li {
    position: relative;
    display: block;
    float: left;

    & > a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;

  &-header {
    float: left;
    margin-right: -15px;
    margin-left: -15px;

    &:before {
      display: table;
      content: " ";
    }
  }

  &-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }

  &-nav {
    margin: 0;

    & > li {
      & > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
      }
    }
  }

  &:before {
    display: table;
    content: " ";
  }
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

a {
  text-decoration:none;
  transition:all .5s;

  &:hover {
    text-decoration:none;
  }
  
  &:focus{
    outline:0;
    text-decoration:none;
  }
}

img {
  width:100%;
  object-fit:cover;
  object-position:center;
}

::-moz-selection {
  color:#fff;
  background:#b8a07e
}

::selection {
  color:#fff;
  background:#b8a07e;
}